<form action="/login" method="post" class="form">

    <% if @failed %>
    <p class="danger">Uh-oh! Your Username or Password is incorrect.</p>
    <p class="danger">Please try again!</p>
    <% end %>

    <p><input type="text" name="username" id="username" placeholder="Username"><br/></p>

    <p><input type="password" name="password" id="password" placeholder="Password"><br/></p>

    <p>Don't have an account? Sign up <a href="/signup" class="plain">here</a>!</p>

    <p><input type="submit" value="Login" class="button"></p>
</form>

