<form action="/users" method="post">

    <p><label for="name">Name:</label>
    <input type="text" name="name" id="name"></p>
    
    <p><label for="username">Username:</label>
    <input type="text" name="username" id="username"></p>

    <p><label for="password">Password:</label>
    <input type="password" name="password" id="password"></p>

    <p><input type="submit" value="Sign Up!" class="button"></p>

</form>

<% if @user && @user.errors.any? %>
    <% @user.errors.full_messages.each do |e| %>
        <p class="danger"><% e %></p>
    <% end %>
<% end %>