html {
    background-color: #fffff0;
}

.right {
  float: right;
}

a.plain, a.plain:visited {
  text-decoration: none;
  color: #1AAB8A;
}

.danger {
    color: red;
}

.table {
    display: table;
    margin: auto;
}

.table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;
    padding: 10px;
    border: 1px solid black;
}

.table-row:nth-child(even) {
    background: lightblue;
}

  body {
    text-align:center;    
  }

  body:before {
    content:'';
    height:100%;
    display:inline-block;
    vertical-align:middle;
  }

  .button {
    background:#1AAB8A;
    color:#fff;
    border:none;
    position:relative;
    height:60px;
    font-size:1.6em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
  }

  .button:hover {
    background:#fff;
    color:#1AAB8A;
  }

  .button:before, .button:after {
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #1AAB8A;
    transition:400ms ease all;
  }

  .button:after {
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }

  .button:hover:before, .button:hover:after {
    width:100%;
    transition:800ms ease all;
  }

/*--------------------------------------------------------*/
