<div class="table">
    <div class="table-row">
        <div class="table-cell">
            <%= cookie.name %>
        </div>
        <div class="table-cell">
            <%= cookie.cookie_type %>
        </div>
    </div><br/>
</div>
