<h4>Edit your cookie below!</h4>
<form action="/cookies" method="post">

    <label for="cookie_name">Cookie's Name:</label>
    <input type="text" name="cookie_name" id="cookie_name" value="#{@cookie.name}"><br/>

    <label for="cookie_type">Type of Cookie:</label>
    <input type="text" name="cookie_type" id="cookie_type" value="@cookie.type"><br/>

    <input type="submit" value="Save Cookie!">

</form>