<h4>These are all the different cookies submitted from all of the users.</h4>
<h4>If you would like to add a new cookie, please select the 'Add a new cookie' button at the bottom of the page</h4>
<h4>To edit or delete one of your cookies, please visit the 'My Cookies' page!</h4>
<a href="/cookies/new" class="button">Create A New Cookie</a>
<a href="cookies/my_cookies" class="button">My Cookies</a><br/><br/>
<% @cookies.each do |cookie| %>
    <%= erb :'cookies/_cookie', locals:{id: cookie.user_id, cookie: cookie} %>
<% end %>
