<h4>You can create a new type of cookie below!</h4>
<form action="/cookies" method="post">

    <p><label for="cookie_name">Cookie's Name:</label>
    <input type="text" name="cookie_name" id="cookie_name"></p>

    <p><label for="cookie_type">Type of Cookie:</label>
    <input type="text" name="cookie_type" id="cookie_type"></p>

    <p><input type="submit" value="Create Cookie!" class="button"></p>

</form>

