<% if @cookie.user_id == current_user.id %>
    <form action="/cookies/<%= @cookie.id %>/delete" method="post">
        <input id="hidden" type="hidden" name="_method" value="delete">
        <input type="submit" value="delete">
    </form>
<% end %>