<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <h1>Virtual Cookie Stand</h1><br/>
    <% if logged_in? %>
        <h3><%= "Welcome #{current_user.name}!" %></h3>
    <% end %>
    <%= yield %>
</body>
</html>
